/* .back-button {
  position: fixed;
  margin-left: 10px;
  top: 2%;
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(0, 106, 255);
  box-shadow: -1px -3px 10px rgba(0, 0, 0, 0.527);
  color: white;
  animation: back-button__anim;
  animation-duration: 0.5s;
}

@keyframes back-button__anim {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
} */
