.react-colorful {
  width: 100%;
}

.set-color-button {
  border: none;
  background-color: rgb(201, 201, 201);
  color: rgb(79, 79, 79);
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 3vh;
}

.set-color-button:active {
  background-color: rgb(118, 118, 118);
  color: rgb(235, 235, 235);
}
