.list-box__parent {
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.51);
  border-top: 1px solid rgba(104, 104, 104, 0.75);
  position: fixed;
  bottom: 0;
  background-color: white;
  animation-name: list-box__parent__anim;
  animation-duration: 0.3s;
}

.list-box__x-button {
  border: none;
  background: none;
  background-color: rgb(201, 201, 201);
  color: rgb(79, 79, 79);
}

.list-box__x-button:active {
  background-color: rgb(118, 118, 118);
  color: rgb(235, 235, 235);
}

.list-box__overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 50;
}

.list-box {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

@keyframes list-box__parent__anim {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

/*Desktop only*/
@media only screen and (min-width: 600px) {
  .list-box {
    width: 20vw;
    height: 98vh;
  }

  .list-box__parent {
    bottom: 1;
    left: 0;
    animation-name: list-box__parent__anim__DESKTOP;
    animation-duration: 0.3s;
  }
}

@keyframes list-box__parent__anim__DESKTOP {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}
