.list-box__button {
  margin-top: 10px;
  font-size: 5vh;
  border: none;
  background-color: white;
}

.list-box__button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .list-box__button {
    font-size: 2vw;
  }
}
