.side-button__holder {
  position: fixed;
  top: 2%;
  right: 0;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  animation-name: button-holder__anim;
  animation-duration: 0.5s;
}

@keyframes button-holder__anim {
  from {
    margin-right: -100px;
  }
  to {
    margin-right: 10px;
  }
}
