.save-buttons {
  position: fixed;
  bottom: 5%;
  margin-left: 10px;
}

.save-buttons button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
}

.save {
  margin-right: 5vw;
  width: 15vw;
  height: 10vw;
}

.discard {
  width: 20vw;
  height: 10vw;
}

.top-left-button {
  position: fixed;
  margin-left: 10px;
  top: 2%;
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(0, 106, 255);
  box-shadow: -1px -3px 10px rgba(0, 0, 0, 0.312);
  color: white;
  animation: top-left-button__anim;
  animation-duration: 0.5s;
}

@keyframes top-left-button__anim {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
