.auth__wrapper {
  position: relative;
  background-color: rgb(32, 36, 92);
  font-family: lato-normal;
  height: 100vh;
}

.auth__wrapper h1 {
  color: white;
}
.auth__overlay {
  background-color: rgba(229, 229, 229, 0.76);
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  z-index: 50;
  top: 0;
}

.auth-box {
  background-color: white;
  padding-bottom: 10px;
}
.signup__wrapper,
.login__wrapper {
  font-family: lato-normal;
  display: flex;
  flex-direction: column;
  margin-right: 3vw;
  margin-left: 3vw;
}

.signup__wrapper {
  animation-name: signup-form__anim;
  animation-duration: 0.3s;
}

.login__wrapper {
  animation-name: login-form__anim;
  animation-duration: 0.3s;
}

.login__wrapper input,
.signup__wrapper input {
  border: none;
  border-bottom: 1px solid rgb(146, 146, 146);
  margin-bottom: 2px;
  font-size: medium;
}

.signup__wrapper button,
.login__wrapper button {
  font-family: lato-normal;
  color: white;
  background-color: rgb(32, 36, 92);
  border: none;
  font-size: medium;
}

.top-buttons {
  display: flex;
}

.top-buttons button {
  flex: 1;
  border: none;
  font-family: lato-normal;
}

@keyframes login-form__anim {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes signup-form__anim {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes border-bottom__anim {
  from {
    border-bottom: none;
  }

  to {
    border-bottom: 1px solid blue;
  }
}

/*Desktop only*/
@media only screen and (min-width: 600px) {
  .auth-box {
    margin: 0 auto;
    width: 50vw;
    padding-left: 10px;
    padding-right: 10px;
  }

  .signup__wrapper {
    animation: none;
  }

  .login__wrapper {
    animation: none;
  }
}
